<!DOCTYPE html>
<html lang="ja">
<%- include('partials/head') %>
<body>
    <div class="container mt-5">
        <%- include('partials/header') %>
        <%- include('partials/nav') %>

    <div class="jumbotron">
      <section class="quiz-container p-5" style="max-width: 100%; background-color: #f0f0f0;">
        <h1 class="display-4">Welcome to Music Education Application !</h1>
        <p class="lead">Fundamentals of Chords on the Piano</p>
      </section>
    </div>
    </div>

</body>
</html>
